.card-main {
  height: 80px;
  width: 65px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card-body {
  height: 70px;
  width: 56px;
  border-radius: 3px;
  font-size: 80px;
  margin-top: -41px;
  text-align: center;

}

.overlapping {
  margin-top: -50px;
}

.stack {
  display: flex
}